# Игнорируем все файлы и папки по умолчанию
*

# Исключаем указанные папки из игнорирования
!/CMSIS/
!/CMSIS/**
!/Core/
!/Core/**
!/Documents/
!/Documents/**
!/Startup/
!/Startup/**

# Дополнительно
# Исключаем файлы настроек и конфигураций из игнорирования
!.gitignore
!.gitattributes
