# Игнорируем все файлы и папки по умолчанию
*

# Исключаем указанные папки из игнорирования
!/CMSIS/
!/CMSIS/**
!/Core/
!/Core/**
!/Documents/
!/Documents/**
!/Startup/
!/Startup/**
!/Outputs/
!/Outputs/**

# Дополнительно
# Исключаем файлы настроек и конфигураций из игнорирования
!.project
!.cproject

!.gitignore
!.gitattributes