# Игнорируем все, кроме специфичных файлов проекта и исходного кода
*

# Исключаем файлы проекта из игнорирования
!/.cproject
!/.project
!/*.ioc
!/*.ld

# STM32CubeIDE
.metadata/
.settings/
*.launch

# Дополнительные настройки
# Игнорируем временные файлы и папки
*.tmp
*.bak
*.swp
*~.*

# Игнорируем компилированные бинарные файлы
*.elf
*.bin
*.hex
*.map

# Игнорируем каталоги сборки и выходные каталоги
build/
Debug/
Release/

# Игнорируем временные файлы, создаваемые системой
.DS_Store
Thumbs.db

# Игнорируем личные настройки IDE
.vscode/
.idea/
*.code-workspace

# Исключаем файлы настроек
!.gitignore
!.gitattributes
